@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preferência do sistema por padrão */
:root {
  color-scheme: light dark;
  /* Light (HSL: H S% L%) */
  --bg: 0 0% 99%;
  --card: 0 0% 100%;
  --stroke: 240 5% 90%;
  --text: 240 10% 10%;
  --mute: 240 4% 46%;
  --brand: 142 71% 45%; /* #25D366 aprox */
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: 240 8% 6%;
    --card: 240 6% 10%;
    --stroke: 240 6% 17%;
    --text: 0 0% 92%;
    --mute: 240 5% 61%;
    --brand: 142 71% 45%;
  }
}

/* Forçar escuro quando .dark na <html> */
:root.dark {
  color-scheme: dark;
  --bg: 240 8% 6%;
  --card: 240 6% 10%;
  --stroke: 240 6% 17%;
  --text: 0 0% 92%;
  --mute: 240 5% 61%;
  --brand: 142 71% 45%;
}
